<div class="container">
  <div class="head">
    <div class="input-choose">
      <select id="inputData" (change)="changeData($event)" [(ngModel)]="kieuDuLieu1">
        <option *ngFor="let dataTypeInput of datas" value="{{ dataTypeInput.dulieu }}">
          {{ dataTypeInput.dulieu }}
        </option>
      </select>
    </div>

    <div class="click">
      <button type="submit" [disabled]="!inputDuLieu" (click)="click()">Chuyển</button>
    </div>

    <div class="output-choose">
        <select id="outputData" [(ngModel)]="kieuDuLieu2">
          <option *ngFor= "let dataTypeOutput of dataType" value="{{ dataTypeOutput }}">
            {{ dataTypeOutput }}
          </option>
        </select>
    </div>
  </div>

  <br>

  <div class="bot">
    <div class="input-div">
      <mat-form-field class="input-form-field">
        <mat-label>Nhập nội dung: </mat-label>
        <input matInput type="text" [(ngModel)]="inputDuLieu">
        @if (inputDuLieu) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="inputDuLieu=''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <br>
      @if (!inputDuLieu) {
        <span style="color: red;">Bạn cần nhập dữ liệu!</span>
      }
      </div>

      <div class="output-div">
        <mat-form-field class="output-form-field">
          <mat-label>Bản dịch: </mat-label>
          <input matInput type="text" [(ngModel)]="outputDuLieu" readonly>
          @if (outputDuLieu) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="outputDuLieu=''">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
  </div>
</div>
